@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Varela+Round&display=swap');

$inter: 'Inter', sans-serif;
$valera: 'Varela Round', sans-serif;

$montser: 'Montserrat', sans-serif;