$lightGray: #cecece;
$hovercolor: #fffdfdb8;
$gold: #ffd200;
$goldLight: #ffd82d;
$orange: #ffa200;
$white: white;
$whiteSmoked: whitesmoke;
$red: red;
$black: black;
$overlay1: rgba(0, 4, 5, 0.772);
$overlay2: rgba(0, 0, 0, 0.737);
$fiftyTransparent: #fffdfd65;
$redder: rgb(205, 2, 2);
$sandShadow: #c8956686;
$sandShadowMore: #c89566cc;
$sand: #e1b382;
$sandDarker: #c89566;
$cream: #FFFDD0;
$blueLight: #1CC5F4;
$darkGray: #2D4258;
$grayTran: #cecece62;
$submitGreen: #00A36C;

$button-bg: $sandDarker;
$list-bg: #fff;
$text-color: $black;
$text-color-hover: $gold;